# Project-Specific Folders
dependencies/
installation/
!installation/installer.py
!installation/blossom-V.vcxproj

# TSP
*.sol

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# V C++ Project temps
*.suo
*.user
*.ncb
*.sbr
*.ipch
*.sdf
*.opensdf
*.vssess
*.etl
*.psess
*.vspx

# OSX Directory
*.DS_Store
